<div class="col-md-2 bg-white" style="height:700px;">

    <ul class="list-unstyled ul-left-menu">
        <li class="border-bottom py-2 row">
            <div class="input-group px-3">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Tickets"><i class="fas fa-ticket-alt"></i> Quản Lý Vé</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Orders"><i class="fas fa-shopping-basket"></i> Đơn đặt vé</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Garage">  <i class="fas fa-caravan"></i> Quản lý Xe</a></li>
        <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/topic"><i class="fad fa-id-card"></i> Chủ đề bài viết</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/post"><i class="fad fa-newspaper"></i> Bài viết</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/user"> <i class="fas fa-user-friends"></i> User</a></li>   
    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }
</style>

