USE [BANVEMAYBAY]
GO
/****** Object:  Table [dbo].[Coach]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[licensePlate] [varchar](255) NULL,
	[seatTotal] [int] NULL,
	[img] [nvarchar](255) NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [varchar](255) NOT NULL,
	[link] [varchar](255) NULL,
	[tableid] [int] NULL,
	[parentid] [int] NOT NULL,
	[orders] [int] NOT NULL,
	[position] [varchar](255) NOT NULL,
	[created_at] [smalldatetime] NOT NULL,
	[created_by] [int] NULL,
	[updated_at] [smalldatetime] NOT NULL,
	[updated_by] [int] NULL,
	[status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[guestTotal] [int] NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[gioitinh] [nvarchar](255) NOT NULL,
	[quoctich] [nvarchar](255) NOT NULL,
	[mess] [nvarchar](255) NULL,
	[phone] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[deliveryPaymentMethod] [nvarchar](255) NOT NULL,
	[StatusPayment] [int] NOT NULL,
	[total] [float] NOT NULL,
	[created_ate] [smalldatetime] NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordersdetail]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordersdetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[orderid] [int] NOT NULL,
	[ticketId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[topid] [int] NULL,
	[title] [nvarchar](max) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[detail] [ntext] NULL,
	[img] [varchar](255) NULL,
	[type] [varchar](50) NULL,
	[created_at] [smalldatetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [smalldatetime] NOT NULL,
	[updated_by] [int] NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[parentId] [int] NOT NULL,
	[accessName] [varchar](255) NOT NULL,
	[description] [nvarchar](225) NULL,
	[GropID] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[garageId] [int] NULL,
	[name] [nvarchar](255) NULL,
	[airport] [nvarchar](255) NULL,
	[description] [ntext] NULL,
	[CoachName] [nvarchar](255) NULL,
	[img] [nvarchar](255) NULL,
	[departure_address] [nvarchar](255) NULL,
	[arrival_address] [nvarchar](255) NULL,
	[departure_date] [smalldatetime] NULL,
	[day] [date] NULL,
	[guestTotal] [int] NULL,
	[licensePlates] [varchar](50) NULL,
	[price] [float] NULL,
	[sold] [int] NULL,
	[created_at] [smalldatetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [smalldatetime] NOT NULL,
	[updated_by] [int] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topic]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[parentid] [int] NOT NULL,
	[orders] [int] NOT NULL,
	[created_at] [smalldatetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[updated_at] [smalldatetime] NOT NULL,
	[updated_by] [int] NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 1/21/2021 12:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[username] [varchar](225) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[gender] [nvarchar](5) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [varchar](20) NULL,
	[img] [varchar](100) NULL,
	[access] [int] NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coach] ON 

INSERT [dbo].[Coach] ([id], [name], [description], [address], [licensePlate], [seatTotal], [img], [status]) VALUES (1, N'Xe trí hà', N'Xe trí hà là nhà xe đi đến bình định', N'Cat minh - Phu cat - Binh Dinh', N'77B-158468', 45, N'xe-tri-ha1.png', 1)
INSERT [dbo].[Coach] ([id], [name], [description], [address], [licensePlate], [seatTotal], [img], [status]) VALUES (2, N'Phương Trang', N'xe liên tỉnh', N'quận 7 TP.HCM', N'51G-9999', 45, N'phuong-trang.png', 1)
INSERT [dbo].[Coach] ([id], [name], [description], [address], [licensePlate], [seatTotal], [img], [status]) VALUES (3, N'Thu Phương', N'xe TP.HCM đi Buôn Mê', N'Tp.HCM', N'51G-12345', 45, N'thu-phuong.png', 1)
SET IDENTITY_INSERT [dbo].[Coach] OFF
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([ID], [name], [type], [link], [tableid], [parentid], [orders], [position], [created_at], [created_by], [updated_at], [updated_by], [status]) VALUES (1, N'Trang Chủ', N'menu', N'', 2, 0, 1, N'mainmenu', CAST(N'2019-03-15T00:00:00' AS SmallDateTime), 1, CAST(N'2019-12-05T13:03:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[menu] ([ID], [name], [type], [link], [tableid], [parentid], [orders], [position], [created_at], [created_by], [updated_at], [updated_by], [status]) VALUES (1035, N'Tra cứu Order', N'menu', N'tra-cuu-order', 2, 0, 10, N'mainemenu', CAST(N'2020-01-10T00:00:00' AS SmallDateTime), 1, CAST(N'2020-01-10T00:00:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[menu] ([ID], [name], [type], [link], [tableid], [parentid], [orders], [position], [created_at], [created_by], [updated_at], [updated_by], [status]) VALUES (32, N'Tin tức', N'menu', N'tin-tuc', 3, 0, 19, N'mainmenu', CAST(N'2020-10-10T00:00:00' AS SmallDateTime), 1, CAST(N'2020-10-10T00:00:00' AS SmallDateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[menu] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([ID], [guestTotal], [code], [name], [gioitinh], [quoctich], [mess], [phone], [email], [deliveryPaymentMethod], [StatusPayment], [total], [created_ate], [status]) VALUES (62, 1, N'MaORDER211202194854', N'Nguyen Van Hung', N'female', N'VN', N'adasda', N'0975271384', N'vanhung3339@gmail.com', N'Thanh toán ngân lượng', 1, 500000, CAST(N'2021-01-21T09:49:00' AS SmallDateTime), 2)
INSERT [dbo].[order] ([ID], [guestTotal], [code], [name], [gioitinh], [quoctich], [mess], [phone], [email], [deliveryPaymentMethod], [StatusPayment], [total], [created_ate], [status]) VALUES (63, 5, N'MaORDER211202110236', N'Nguyen Van Hung', N'female', N'VN', N'ads', N'0975271384', N'vanhung3339@gmail.com', N'Mua vé Tại quầy', 1, 2500000, CAST(N'2021-01-21T10:03:00' AS SmallDateTime), 1)
INSERT [dbo].[order] ([ID], [guestTotal], [code], [name], [gioitinh], [quoctich], [mess], [phone], [email], [deliveryPaymentMethod], [StatusPayment], [total], [created_ate], [status]) VALUES (64, 1, N'MaORDER2112021105028', N'Nguyen Van Hung', N'female', N'VN', N'theem dduowng', N'0975271384', N'vanhungdev@gmail.com', N'Mua vé Tại quầy', 2, 500000, CAST(N'2021-01-21T10:50:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[order] OFF
SET IDENTITY_INSERT [dbo].[ordersdetail] ON 

INSERT [dbo].[ordersdetail] ([ID], [orderid], [ticketId]) VALUES (91, 50, 1)
INSERT [dbo].[ordersdetail] ([ID], [orderid], [ticketId]) VALUES (92, 51, 3)
INSERT [dbo].[ordersdetail] ([ID], [orderid], [ticketId]) VALUES (97, 55, 1)
SET IDENTITY_INSERT [dbo].[ordersdetail] OFF
SET IDENTITY_INSERT [dbo].[post] ON 

SET IDENTITY_INSERT [dbo].[post] OFF
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([ID], [parentId], [accessName], [description], [GropID]) VALUES (1, 0, N'ADMIN', N'Quản trị viên Full quyền', N'ADMIN')
INSERT [dbo].[role] ([ID], [parentId], [accessName], [description], [GropID]) VALUES (2, 1, N'CUSTOMER', N'Khách hàng', N'CUSTOMER')
INSERT [dbo].[role] ([ID], [parentId], [accessName], [description], [GropID]) VALUES (3, 4, N'ACCOUNTANT', N'Kế toán, thống kê', N'ACCOUNTANT')
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[ticket] ON 

SET IDENTITY_INSERT [dbo].[ticket] OFF
SET IDENTITY_INSERT [dbo].[topic] ON 

INSERT [dbo].[topic] ([ID], [name], [slug], [parentid], [orders], [created_at], [created_by], [updated_at], [updated_by], [status]) VALUES (20, N'Review Điểm Đến', N'Review-diem-den', 0, 1, CAST(N'2020-08-05T14:28:00' AS SmallDateTime), 1, CAST(N'2020-08-05T14:28:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[topic] ([ID], [name], [slug], [parentid], [orders], [created_at], [created_by], [updated_at], [updated_by], [status]) VALUES (21, N'Liên Hệ', N'lien-he', 0, 1, CAST(N'2020-08-05T15:43:00' AS SmallDateTime), 1, CAST(N'2020-08-05T15:43:00' AS SmallDateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[topic] OFF
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([ID], [fullname], [username], [password], [email], [gender], [address], [phone], [img], [access], [status]) VALUES (1, N'Nguyen Công', N'admin', N'4QrcOUm6Wau+VuBX8g+IPg==', N'abc@gmail.com', N'nam', N'cád-mniad', N'0978568452', N'abc.png', 0, 1)
INSERT [dbo].[user] ([ID], [fullname], [username], [password], [email], [gender], [address], [phone], [img], [access], [status]) VALUES (3, N'nguyen công 1', N'salesman', N'4QrcOUm6Wau+VuBX8g+IPg==', N'abc@gmail.com', N'nam', N'cat-minhad', N'0975846852', N'acba.png', 3, 1)
INSERT [dbo].[user] ([ID], [fullname], [username], [password], [email], [gender], [address], [phone], [img], [access], [status]) VALUES (4, N'nguyen Cong', N'accountant', N'4QrcOUm6Wau+VuBX8g+IPg==', N'vanhung3339@gmail.com', N'Nam', N'cat-minh', N'0975685135', N'ádasd', 4, 1)
SET IDENTITY_INSERT [dbo].[user] OFF
