
@{
    ViewBag.Title = "OrderSearch";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}


<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row">

            <div class="ml-auto mr-auto col-lg-12" style="margin-top:50px;">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default single-my-account">
                            <div id="my-account-1">
                                <div class="panel-body">
                                    <form action="" method="POST">                                    
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Email hoặc SDT đặt hàng</label>
                                                    <input type="text" name="keyw">
                                                </div>
                                            </div>
                                        <div class="billing-back-btn" >
                                            <div class="billing-btn" >
                                                <button style="margin-top:20px; margin-right:550px;" class="btn-blue btn-red btn-style-1 " type="submit">Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>