<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="max-width: 100%; background-color: #E6E6E6;font-family:Arial;">
    <div class="" style="max-width: 80%;margin:auto;background-color: white; padding: 30px;padding-top:30px;">
        <div class="row">
            <div class="col-md-12">
                <div style="border-bottom: 5px solid #0404B4"><h3 style="color: #0404B4">YATRA.COM </h3> </div>
                <div>
                    <h2 style="color: #424242;text-align: center;"> XÁC NHẬN ĐƠN HÀNG</h2>
                    <h4 style="color: #424242;"> <span style="color: green;"> {{name}}</span> thân mến Cảm ơn bạn đã tin tưởng và đặt vé tại website YATRA.COM, sau đây là thông tin Order của bạn </h4>
                    <table>
                        <tbody style="color: #424242;">           
                            <tr>
                                <td class="title" style="font-weight:bold;">Order Code:</td>
                                <td>{{orderCode}} </td>
                            </tr>
                            <tr>
                                <td class="title" style="font-weight:bold;">Tên khách hàng</td>
                                <td>{{name}} </td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Email:</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">SDT:</td>
                                <td>{{phone}}</td>
                            </tr>

                            <tr>
                                <td style="font-weight:bold;">Giới tính:</td>
                                <td>{{gioitinh}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Quốc tịch:</td>
                                <td>{{quoctich}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Lời nhắn:</td>
                                <td>{{mess}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Ngày tạo:</td>
                                <td>{{created_ate}} </td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Trạng thái thanh toán:</td>
                                <td>{{statuspayment}}.</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Phương thức thanh toán:</td>
                                <td>{{Methodpayment}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Tổng tiền:</td>
                                <td><h4 class="text-danger"> {{total}}</h4></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 style="color: green;border-bottom: 3px solid green;">Chi tiết Order:</h3>
                    {{htmlListOrder1}}
                    {{htmlListOrder2}}
                    <div style="border-top: 3px solid #01DF3A;margin-top: 50px;"><h3 style="color: #0404B4">YATRA.COM </h3><span>Xin chân thành cảm ơn quý khách - Mọi thông liên hệ: <span style="color: #FF8000;font-weight: bold;">Nguyencong@gmail.com </span></span> </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
